body {
    font-family: 'Roboto', sans-serif;
    background-color: #707B7C;
    color: white
}

.hero {
    padding: 5em;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 5em;
    color: white;
    text-shadow: 0 0 2px grey;
    text-align: center;
}

h3 {
    text-align: center;
    color: white;
}

.centerBtn {
    text-align: center;
}

.btn{
    font-family: 'Roboto', sans-serif;
    background-color:aqua;
    padding: 1em;
    width: 9em;
    border: 0
}

.displayContainer {
    display: grid;
    grid-template-columns: 25em 50em;
    grid-template-rows: auto;
    grid-template-areas: 
    "main main main";
    width: 80%;
    margin: 0 auto;
}


#imgDisplay {
    grid-column-start: 1;
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

#drinkResultGrid2 {
    grid-column-start: 2;
}

h2 {
    margin-top: 3em;
}

ul {
    margin-top: 2em;
    list-style-type: none;
    font-style: italic;
    padding-inline-start: 0;
    margin-block-start: 0;
}

#drinkResultGrid3 {
    grid-column-start: 3;
}

p {
    max-width: 50em;
    margin-top: 3em;
}

img {
    height: 20em;
    width: auto;
    border: 8px solid white;
    border-radius: 4px;
}

/* input[type="submit"] {
    box-shadow: none;
}

#errorDiv {
    color: #A3081D;
    font-weight: 700;
} */

/* .textInput {
    padding: 1em;
    width: 20em;
    border: 1px solid grey;
} */

/* button:hover {
    border-left-width: 5px;
  }
  
  button:active {
    border-color: rgb(123, 20, 80);
  }
  
  button:focus {
    outline: 0;
  } */

  /* form {
    text-align: center;
} */