body {
    font-family: 'Roboto', sans-serif;
    background-color: #707B7C;
    color: white
}

.hero {
    padding: 10em;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 5em;
    color: white;
    text-shadow: 0 0 2px grey;
    text-align: center;
}

h3 {
    text-align: center;
    color: white;
}
form {
    text-align: center;
}

.centerBtn {
    text-align: center;
}

.btn{
    font-family: 'Roboto', sans-serif;
    background-color:aqua;
    padding: 1em;
    width: 9em;
    border: 0
}

#errorDiv {
    color: #A3081D;
    font-weight: 700;
}

.textInput {
    padding: 1em;
    width: 20em;
    border: 1px solid grey;
}

/* button:hover {
    border-left-width: 5px;
  }
  
  button:active {
    border-color: rgb(123, 20, 80);
  }
  
  button:focus {
    outline: 0;
  } */

.displayContainer {
    display: grid;
    grid-template-columns: 22em 22em 31em;
    grid-template-rows: auto;
    border: 2px solid green;
    grid-template-areas: 
    "main main main main"
    "footer footer footer footer";
    margin-bottom: 400px;
    width: 80%;
    margin: 0 auto;
}

/* .centerDiv {
    margin: 0 auto;
} */
#imgDisplay {
    grid-column-start: 1;
}

#drinkResultGrid2 {
    /* vertical-align: bottom; */
    grid-column-start: 2;

}

h2 {
    /* line-height: 6em; */
    margin-top: 20%;
    margin-left: 1em;
}
ul {
    margin-top: 0;
}

#drinkResultGrid3 {
    grid-column-start: 3;

}

img {
    height: 20em;
    width: auto;
    border: 8px solid white;
    border-radius: 4px;
}

input[type="submit"] {
    box-shadow: none;
}